* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 63%;
    background-color: darkgray;
}
:root {
    --text-color: #000
    --hover-color: #0067ff
    --text-color2:#ffffff
    --secondary-color: green
    --space-p-color: 535252
    --scroll-behavior: smooth
}
/*start of header*/
.upper-header {
display: flex;
align-items: center;
margin: 2rem;
justify-content: space-between;

}
.company{
    font-size: 30px;
    font-weight: bold;
    
}
.logo {
    display: flex;
    justify-content: center;
align-items: center;
margin-right: 8px;
   
}
.navigation-bar {
    display: flex;
}
.nav-list a {
    text-decoration: none;
    margin: 3rem;
    color: var(--text-color);
    transition: all ease.3s;
    font-size: 20px;
}
.nav-list a:hover{
    color: var(--hover-color);
    cursor: pointer;
}
@media screen and (max width: 56.25rem) {
    .upper-header{
        flex-direction:column;
    }
    
}
/*end of header*/

/*start of home section*/

/*start of hero section*/
.home-section{
    min-height: 100vh;
background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.9)),url(/assets/images/background-main.jpg);
background-position: center;
background-size:cover;
display: flex;
justify-content: center;
align-items: center;

}
.home-container{
    width: 90%;
}
.main-tagline{
    font-size: 6.5rem;
  text-align: center;
  color:white
}
.sub-tagline{
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
}

.sub-tag{
    text-align: center;
    color: greenyellow;
    font-size: 2rem;
    margin: 2rem 0;
}
.action-call{
    display: flex;
    justify-content: center;
}
.action-real{
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: large;
    text-transform: capitalize;
    padding: 1.5rem;
    font-weight: bolder;
    display: inline-block;
}
.action-real-mod{
    background-color: green;
    color: white;
}

/*end of hero section*/
/*start of listing*/
.available-listings{
    min-height: 100vh;
    
    justify-content: center;
    align-items: normal;
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
}

.listings{
    justify-content: center;
        text-align: center;
       
        font-size: 3.5rem;
    }
.spaces-container{
    display: flex;
    
}
.available-spaces{
    flex: 1;
    text-align: center;
    padding: 2rem;
 
    margin: 2rem;
    webkit-box-shadow: 1px 5px 39px -5px rgba(40,135,94,1);
-moz-box-shadow: 1px 5px 39px -5px rgba(40,135,94,1);
box-shadow: 1px 5px 39px -5px rgba(40,135,94,1);
}


.image-container{
    object-position: center;
    
    object-fit:fill;
    padding: 0;
}
.text{
    text-align: left;
    font-weight:lighter;
    font-size:small;
}
.text-main{
    text-align:left ;
    font-size: 2rem;
}
.space-booking{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-weight: bolder;
}
.butt{
    background-color: green;
    border-radius: 5px;
    padding: .5rem;

}

/*end of listing*/
/*end of home section*/
